<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <title></title>
</head>
<body>
<h2>Student information: </h2>
<form th:action="@{/addEmployee}" method="POST" th:object="${employee}" class="student-container">

    <div class="row">
        <form:label class="label">First Name:</form:label>
        <label>
            <input type="text" th:field="*{firstName}"/>
        </label>

    </div>

    <div class="row">
        <form:label class="label">Last name</form:label>
        <label>
            <input type="text" th:field="*{lastName}"/>
        </label>
    </div>

    <div class="row">
        <form:label class="label">Email</form:label>
        <label>
            <input type="text" th:field="*{email}"/>
        </label>
        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Eror</span>
    </div>

    <div class="row">
        <form:label class="label">Salary</form:label>
        <label>
            <input type="text" th:field="*{salary}"/>
        </label>
        <span class="help-block" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Eror</span>
    </div>

    <div class="row">
        <form:label class="label">Gender:</form:label>
        <label>
            <select th:field="*{gender}">
                <option th:value="'M'" th:text="Male"></option>
                <option th:value="'F'" th:text="Female"></option>
            </select>
        </label>
    </div>

    <div class="btn">
        <input type="submit"/>
    </div>

</form>


<h2>Student list:</h2>
<div class="student-lst">
    <div>First name</div>
    <div>Last name</div>
    <div>Email</div>
    <div>Action name</div>
    <th:block th:each="student: ${studentList}">
        <div th:text="${student.firstName}"/>
        <div th:text="${student.lastName}"/>
        <div th:text="${student.email}"/>
        <div>
            <a th:href="@{/deleteEmployee(employeeId=${student.id})}">Delete</a>
        </div>
    </th:block>

</div>
</body>
</html>
